<div id="post-{{id}}" class="card flex-container grid-item" >
    <img class="card-image" src="{{thumbnail}}" alt="Missing Image">
    <div class="card-body">
        <p class="hide-overflow">{{title}}</p>
        <p class="card-dext">{{description}}</p>
        <a href="/post/{{id}}" class="anchor-buttons">Post Details</a>
    </div>
</div>