<head>
    <title>Image Post</title>
</head>

<body>
    <div id="image-post">
        <div><img src="/{{currentPost.photopath}}" alt="Image Missing" id="image-pic"></div>
        <div id="image-info">
            <div>
                <label class="title"><strong>{{currentPost.title}}</strong></label>
            </div>
            <div class="info-tags hide-overflow">
                Created By: <label id="author-name">{{currentPost.username}}</label>
            </div>
            <div id="image-desc" class="info-tags">
                Description:
                {{currentPost.description}}
            </div>
        </div>
        <div id="creation time" class="info-tags hide-overflow">
            <em>{{currentPost.created}}</em>
        </div>
    </div>
    <div id="comments" class="center">
        <header>
            <label id="comments-title"><strong>Comments</strong></label>
        </header>
        <div id="message list">

        </div>
        <div id="comment-box">
            <textarea id="comment-box-text"></textarea>
            <i id="comment-box-button" class="fa fa-comment" aria-hidden="true" style="text-align: center;"></i>
        </div>
    </div>
</body>