<head>
    <link rel="stylesheet" type="text/css" href="/public/css/imagepost.css">
    <title>Image Post</title>
</head>

<body>
    <div id="image-post">
        <div><img src="/{{currentPost.photopath}}" alt="Image Missing" id="image-pic"></div>
        <div id="image-info">
            <div>
                <label class="title"><strong>{{currentPost.title}}</strong></label>
            </div>
            <div class="info-tags">
                Created By: <label id="author-name">{{currentPost.username}}</label>
            </div>
            <div id="image-desc" class="info-tags">
                Description:
                {{currentPost.description}}
            </div>
        </div>
        <div id="creation time" class="info-tags">
            <em>{{currentPost.created}}</em>
        </div>
    </div>
    <div id="comments-container" class="center">
        <header>
            <label id="comments-title"><strong>Comments</strong></label>
        </header>
        <div id="message list">

        </div>
    </div>
    <div id="comment-box" class="center">
        <textarea id="comment-box-text"></textarea>
        <button type="button"><i id="comment-box-button" class="fa fa-comment" aria-hidden="true"></i></button>
    </div>
</body>